.wrapper {
  margin: 0 auto;
  max-width: 431px;
  width: 100%;
  position: relative;
  overflow: auto;
  height: 100vh;
  background-color: #fff;
}

.navbarArdi {
  position: fixed;
  bottom: 2%;
  width: 100%;
  z-index: 1000;
}

.navbarWrapperArdi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 1.2rem;
  margin: 0 auto;
  width: 55%;
  -webkit-box-shadow: 0px 0px 15px 5px #ae7a7a63;
  box-shadow: 0px 0px 15px 5px #ae7a7a63;
}

.navArdiIcons {
  background-color: #8f181b;
  width: 4rem;
  height: 4rem;
  border-radius: 10px;
  cursor: pointer;
}

.navArdiIcons svg {
  width: 60%;
  height: auto;
  transform: translate(30%, 40%);
}

.positionArdiMusic {
  width: 8%;
  position: fixed;
  bottom: 12%;
  right: 5%;
  z-index: 1001;
}

.musicRolArdi {
  transform: rotate(0deg);
  animation: roleArdi 5s linear infinite;
}

@keyframes roleArdi {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.modalArdiWrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: white;
  z-index: 1003;
  transition: all 3s ease;
  max-width: 432px;
  overflow: hidden;
}

.modalArdiWrapper.open {
  transform: translateY(-500%);
}

.leaveLeft {
  position: absolute;
  bottom: -2%;
  left: 0%;
  width: 70%;
  transform: rotate(90deg) scale(-1);
  z-index: 3;
}
.leaveRight {
  position: absolute;
  bottom: -2%;
  right: 0%;
  width: 70%;
  transform: scale(-1);
  z-index: 3;
}
.ardiBgM {
  position: absolute;
  height: 80vh;
  z-index: 2;
  bottom: 0%;
  width: 100%;
}
.ardiFotoDepan {
  position: absolute;
  z-index: 1;
  top: 0%;
  width: 100%;
  height: 100%;
  transform: scale(1);
}

.textPosition {
  z-index: 10;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textPosition .ardiTitle1 {
  font-family: "Great Vibes", Sans-serif;
  color: #000;
}

@media only screen and (min-width: 432px) {
  .navbarArdi {
    width: 22%;
  }
  .modalArdiWrapper {
    top: 0%;
    left: 0%;
    transform: translate(172.5%, 0%);
  }
}
